<!--Details html Student_ID_ 00013712*/-->
<div class="details-container">
    <mat-card class="details-card">
        <mat-card-content>
            <div class="details-content">
                <!-- Login -->
                <div class="details-item">
                    <span class="details-label">Login:</span>
                    <h2 class="details-value">{{detailsKeyStore.login}}</h2>
                </div>

                <!-- Password -->
                <div class="details-item">
                    <span class="details-label">Password:</span>
                    <h2 class="details-value">{{detailsKeyStore.password}}</h2>
                </div>

                <!-- WebPlatform -->
                <div class="details-item">
                    <span class="details-label">WebPlatform:</span>
                    <h2 class="details-value">{{detailsKeyStore.webPlatform}}</h2>
                </div>

                <!-- User Name -->
                <div class="details-item">
                    <span class="details-label">User Name:</span>
                    <mat-chip class="details-value">{{detailsKeyStore.userStore.name}}</mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!--Details html Student_ID_ 00013712*/-->
